<!-- Header -->
<header class="top_panel_wrap top_panel_style_7">
    <div class="top_panel_wrap_inner top_panel_inner_style_7 top_panel_position_above">
        <div class="top_panel_middle">
            <div class="content_wrap">
                <!-- Contact logo -->
                <div class="column-1_3 contact_logo">
                    <div class="logo">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('build/mounthood/images/logo.png') }}" class="logo_main" alt="">
                            <img src="{{ asset('build/mounthood/images/logo.png') }}" class="logo_fixed" alt="">
                        </a>
                    </div>
                </div>
                <!-- /Contact logo -->
                <!-- Main menu -->
                <div class="column-2_3 menu_main_wrap">
                    <nav class="menu_main_nav_area menu_hover_slide_line">
                        <ul id="menu_main" class="menu_main_nav">
                            <!-- Menu: Home -->
                            <li class="menu-item {{ homeActiveClass ?? "" }}">
                                <a href="{{ path('home') }}"><span> {{ 'Home'|trans }}</span></a>
                            </li>
                            <!-- /Menu: Home -->
                            <!-- Menu: Sign in tricks when user is logged in -->
                            <li class="menu-item {{ signInActiveClass ?? "" }} {{ profileActiveClass ?? "" }}">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="#"><span> {{ 'Profile'|trans }}</span></a>
                                {% else %}
                                    <a href="{{ path('app_login') }}"><span> {{ 'Sign in'|trans }}</span></a>
                                {% endif %}
                            </li>
                            <!-- /Menu: Sign in tricks when user is logged in -->
                            <!-- Menu: sign up logout when user is logged in -->
                            <li class="menu-item {{ signUpActiveClass ?? "" }}">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ path('app_logout') }}"><span> {{ 'Logout'|trans }}</span></a>
                                {% else %}
                                    <a href="{{ path('user_sign_up') }}"><span> {{ 'Sign up'|trans }}</span></a>
                                {% endif %}
                            </li>
                            <!-- /Menu: Sign up logout when user is logged in -->
                        </ul>
                    </nav>
                </div>
                <!-- /Main menu -->
            </div>
        </div>
    </div>
</header>
<!-- /Header -->
