<!-- Header mobile -->
<div class="header_mobile">
    <div class="content_wrap">
        <div class="menu_button icon-menu"></div>
        <!-- Logo -->
        <div class="logo">
            <a href="#">
                <img src="{{ asset('build/mounthood/images/logo.png') }}" class="logo_main" alt="">
            </a>
        </div>
    </div>
    <div class="side_wrap">
        <div class="close">Close</div>
        <div class="panel_top">
            <nav class="menu_main_nav_area">
                <!-- Mobile Menu -->
                <ul id="menu_mobile" class="menu_main_nav">
                    <!-- Menu: Home -->
                    <li class="menu-item {{ homeActiveClass ?? "" }}">
                        <a href="{{ path('home') }}"><span> {{ 'Home'|trans }}</span></a>
                    </li>
                    <!-- /Menu: Home -->
                    <!-- Menu: Sign in -->
                    <li class="menu-item {{ signInActiveClass ?? "" }}">
                        <a href="{{ path('app_login') }}"><span> {{ 'Sign in'|trans }}</span></a>
                    </li>
                    <!-- /Menu: Sign in -->
                    <!-- Menu: Sign up -->
                    <li class="menu-item {{ signUpActiveClass ?? "" }}">
                        <a href="#"><span> {{ 'Sign up'|trans }}</span></a>
                    </li>
                    <!-- /Menu: Sign up -->
                </ul>
                <!-- /Mobile Menu -->
            </nav>
        </div>
        <div class="panel_bottom"></div>
    </div>
    <div class="mask"></div>
</div>
<!-- /Header mobile -->
