{% extends 'layouts/_base.html.twig' %}

{% block body %}

    {{ include('layouts/partials/_navbarDesktop.html.twig', {'homeActiveClass': 'current-menu-item'}) }}
    {{ include('layouts/partials/_navbarMobile.html.twig', {'homeActiveClass': 'current-menu-item'}) }}
    <!-- Page content wrap -->
    <div class="page_content_wrap page_paddings_no">
        <!-- Content -->
        <div class="content">
            <article class="post_item post_item_single page">
                <section class="post_content">
                    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="">
                        <!-- START REVOLUTION SLIDER 5.3.1.5 fullscreen mode -->
                        <div id="rev_slider_3_1" class="rev_slider fullscreenbanner" data-version="5.3.1.5">
                            <ul>
                                <!-- SLIDE  -->
                                <li data-index="rs-9" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="{{ asset('build/mounthood/images/slider_3_slide_1.jpg') }}" alt="" title="slider_3_slide_1" width="1920" height="980" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina="">
                                    <!-- LAYERS -->
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption tp-resizeme" id="slide-9-layer-3" data-x="right" data-hoffset="-9" data-y="28" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":400,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                        <img src="{{ asset('build/mounthood/images/slider_3_slide_1_boarder.png') }}" alt="" data-ww="934px" data-hh="837px" width="934" height="837" data-no-retina="">
                                    </div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption tp-resizeme" id="slide-9-layer-6" data-x="right" data-hoffset="875" data-y="179" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":650,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                        <img src="{{ asset('build/mounthood/images/slider_3_slide_1_2.png') }}" alt="" data-ww="915px" data-hh="805px" width="915" height="805" data-no-retina="">
                                    </div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption tp-resizeme" id="slide-9-layer-7" data-x="right" data-hoffset="700" data-y="324" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":830,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                        <img src="{{ asset('build/mounthood/images/slider_3_slide_1_3.png') }}" alt="" data-ww="1178px" data-hh="858px" width="1178" height="858" data-no-retina="">
                                    </div>
                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption slider_3_text_80 tp-resizeme rs-parallaxlevel-1" id="slide-9-layer-8" data-x="center" data-hoffset="-182" data-y="398" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">{{ 'Welcome to'|trans }} </div>
                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption slider_3_slide_text_100 tp-resizeme rs-parallaxlevel-1" id="slide-9-layer-9" data-x="center" data-hoffset="-292" data-y="485" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1160,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:-50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">SnowTricks, </div>
                                    <!-- LAYER NR. 6 -->
                                    <div class="tp-caption slider_3_text_70 tp-resizeme rs-parallaxlevel-1" id="slide-9-layer-10" data-x="center" data-hoffset="-302" data-y="602" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1370,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">{{ 'the reference on tricks...'|trans }} </div>
                                    <!-- Scroll down to tricks list button -->
                                    <a href="#tricksList" class="p-1 scroll-to-top-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M13.03 8.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.47 9.28a.75.75 0 011.06-1.06l2.97 2.97V3.75a.75.75 0 011.5 0v7.44l2.97-2.97a.75.75 0 011.06 0z"></path></svg>
                                    </a>
                                    <!-- LAYER NR. 7 -->
                                    <div class="tp-caption tp-resizeme" id="slide-9-layer-5" data-x="right" data-hoffset="23" data-y="220" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":500,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                        <img src="{{ asset('build/mounthood/images/slider_3_slide_1_1.png') }}" alt="" data-ww="1892px" data-hh="841px" width="1892" height="841" data-no-retina="">
                                    </div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom"></div>
                        </div>
                        <!-- END REVOLUTION SLIDER -->
                    </div>
                    {% if app.user is not null and (app.user.isActive == false or app.user.activationToken is not null) %}
                        <div class="hp_schools_section">
                            <div class="content_wrap">
                                <div class="w-100">
                                    <div class="sc_services sc_services_style_services-3 sc_services_type_icons title_center width_100_per" id="tricksList">
                                        <h2 class="sc_services_title sc_item_title sc_item_title_with_descr"> {{ 'Account activation'|trans }}</h2>
                                        <div class="sc_services_descr sc_item_descr">
                                            {{'Almost done,'|trans~' '~app.user.pseudo~' ! '~'To complete your registration on our SNOWTRICKS community website, we just need to verify your email address'|trans~' : '~app.user.email}}.
                                            {{ 'Please check your email and follow instructions to activate your account'|trans }}.
                                            {{ "If you don't receive an email please check your spam folder"|trans }}.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <!-- Trick's dictionary -->
                        <div class="hp_schools_section">
                            <div class="content_wrap">
                                <div class="w-100">
                                    <div class="sc_services sc_services_style_services-3 sc_services_type_icons title_center width_100_per" id="tricksList">
                                        <h2 class="sc_services_title sc_item_title sc_item_title_with_descr"> {{ 'All tricks'|trans }}</h2>
                                        <div class="sc_services_descr sc_item_descr">{{ 'The directory of all figures entered by users'|trans }}.</div>
                                        {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <div class="text-center pb-3">
                                                <a href="{{ path('trick_new') }}" type="button" class="sc_button sc_button_square sc_button_style_filled sc_button_size_medium sc_button_iconed">
                                                    {{ 'New Trick'|trans }}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                </a>
                                            </div>
                                        {% endif %} #}
                                    </div>
                                </div>
                            </div>
                            <!-- Trick's list -->
                            <div class="container-fluid m-3">
                                <div class="row cols-5">
                                    {% for trick in tricksPaginated %}
                                        <!-- Trick item -->
                                        <div class="column-2_10 trick-list">
                                            <div class="post_item post_item_masonry post_item_masonry_3	odd">
                                                <div class="post_featured">
                                                    <div class="img-fluid">
                                                        <a class="hover_icon hover_icon_link" href="{{ path('trick_show', {slug: trick.slug}) }}">
                                                            {{ render(url('front_img', {trickId: trick.id, pathInfo: app.request.pathInfo})) }}
                                                        </a>
                                                    </div>
                                                    <div class="post_content_overlay">
                                                        <div class="post_content isotope_item_content">
                                                            <div class="post_info">
                                                        <span class="post_info_item post_info_posted">
                                                            <a href="{{ path('trick_show', {slug: trick.slug}) }}" class="post_info_date text-decoration-none">{{ trick.createdAt|format_datetime('medium', 'short') }}</a>
                                                        </span>
                                                            </div>
                                                            <h5 class="post_title">
                                                                <a href="{{ path('trick_show', {slug: trick.slug}) }}">{{ trick.name }}</a>
                                                                {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                    <div class="text-right">
                                                                        <a href="{{ path('trick_edit', {slug: trick.slug}) }}" class="btn btn-secondary text-white" role="button">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                                                        </a>
                                                                        <a href="#dangerModal{{ trick.slug }}" class="btn btn-danger text-white" data-toggle="modal" role="button">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                                        </a>
                                                                        {{ include('front/trick/_delete_form.html.twig') }}
                                                                    </div>
                                                                {% endif %} #}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Trick item -->
                                    {% else %}
                                        <div class="container">
                                            <div class="text-center">
                                                <h6 class="sc_call_to_action_subtitle sc_item_subtitle">-----  {{ "NO TRICK"|trans }}  -----</h6>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if tricksPaginated|length > 15 %}
                                    <div class="text-center">
                                        <hr />
                                        <button id="load-more" type="button" class="sc_button sc_button_square sc_button_style_filled sc_button_size_medium sc_button_iconed">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
                                            {{ 'Load more'|trans }}
                                        </button>
                                        <input type="hidden" id="offset" value="0">
                                        <input type="hidden" id="allTricks" value="{{ allTricks|length }}">
                                    </div>
                                {% endif %}
                            </div>
                            <!-- /Trick's list -->
                        </div>
                        <!-- /Trick's dictionary -->
                    {% endif %}

                </section>
            </article>
        </div>
        <!-- /Content -->
    </div>
    <!-- /Page content wrap -->

    <!-- /Body wrap -->
    <div id="page-wrap"></div>

    {{ include('layouts/partials/_bootstrapJs.html.twig') }}
    <script>
        $(document).ready(function (){

            let loadMoreButtonSelector = $("#load-more");

            loadMoreButtonSelector.click(function()
            {

                let offsetSelector = $("#offset");

                let offset = Number(offsetSelector.val());
                let allTricks = Number($('#allTricks').val());
                let perPage = 15;
                offset = offset + perPage;

                if(offset <= allTricks)
                {

                    offsetSelector.val(offset);

                    $.ajax({
                        url: '{{ path('home') }}',
                        type: 'post',
                        data: {offset:offset},
                        beforeSend:function(){
                            loadMoreButtonSelector.text("{{ 'Loading...'|trans }}");
                        },
                        success: function(data)
                        {

                            console.log(offset)

                            // Setting little delay while displaying new content
                            setTimeout(function() {
                                // appending posts after last post with class="post"
                                $(".trick-list:last").after($(data).find("div.trick-list")).show().fadeIn("slow");

                                let offsetNo = offset + perPage;

                                if (offsetNo > perPage)
                                {
                                    let bodyWrap = $("#page-wrap");
                                    bodyWrap.append("<a href='#' class='scroll_to_top icon-up-small text-dark' title='Scroll to top'></a>");
                                }

                                // checking row value is greater than allTricks or not
                                if(offsetNo > allTricks)
                                {

                                    // Change the text and background
                                    loadMoreButtonSelector.text("{{ 'Hide'|trans }}");
                                    loadMoreButtonSelector.css("background","#ed7014");
                                    loadMoreButtonSelector.prepend("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-eye-off'><path d='M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24'></path><line x1='1' y1='1' x2='23' y2='23'></line></svg>&nbsp;")
                                }

                                else
                                {
                                    loadMoreButtonSelector.text("{{ 'Load more'|trans }}");
                                    loadMoreButtonSelector.prepend("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-loader'><line x1='12' y1='2' x2='12' y2='6'></line><line x1='12' y1='18' x2='12' y2='22'></line><line x1='4.93' y1='4.93' x2='7.76' y2='7.76'></line><line x1='16.24' y1='16.24' x2='19.07' y2='19.07'></line><line x1='2' y1='12' x2='6' y2='12'></line><line x1='18' y1='12' x2='22' y2='12'></line><line x1='4.93' y1='19.07' x2='7.76' y2='16.24'></line><line x1='16.24' y1='7.76' x2='19.07' y2='4.93'></line></svg>&nbsp;");
                                }
                            }, 1000);

                        }
                    });

                }

                else{
                    loadMoreButtonSelector.text("{{ 'Loading...'|trans }}");

                    // Setting little delay while removing contents
                    setTimeout(function() {

                        // When row is greater than allcount then remove all class='post' element after 3 element
                        $('.trick-list:nth-child(15)').nextAll('.trick-list').remove();

                        // Reset the value of offset
                       offsetSelector.val(0);

                        // Change the text and background
                        loadMoreButtonSelector.text("{{ 'Load more'|trans }}");
                        loadMoreButtonSelector.css("background", "#004eb3");
                        loadMoreButtonSelector.prepend("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-loader'><line x1='12' y1='2' x2='12' y2='6'></line><line x1='12' y1='18' x2='12' y2='22'></line><line x1='4.93' y1='4.93' x2='7.76' y2='7.76'></line><line x1='16.24' y1='16.24' x2='19.07' y2='19.07'></line><line x1='2' y1='12' x2='6' y2='12'></line><line x1='18' y1='12' x2='22' y2='12'></line><line x1='4.93' y1='19.07' x2='7.76' y2='16.24'></line><line x1='16.24' y1='7.76' x2='19.07' y2='4.93'></line></svg>&nbsp;");

                    }, 1000);

                }

            });
        });

    </script>

{% endblock %}





